a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    border-color: #990000;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #990000;
    border-color: #990000;
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #990000;
}

.btn-primary {
    color: #ffffff;
    background-color: #990000;
    border-color: #990000;
}


.btn-primary:focus, .focus.btn-primary {
    color: #ffffff;
    background-color: #990000;
    border-color: #990000;
}

.btn:hover, .btn:focus, .focus.btn {
    color: #ffffff;
    text-decoration: none;
    background-color: #D13939;
    border-color: #D13939;
}
