            <div class="bs-component">
                <div class="panel panel-default">
                    <div class="list-group">
                        <!--<a class="list-group-item active" href="#">Live Wire</a>-->
                        <a class="list-group-item active" href="#">Live Wire</a>
                        <a class="list-group-item" href="#">Blend Comparison</a>
                        <a class="list-group-item" href="#">Group Perfromance</a>
                        <a class="list-group-item" href="#">SLA</a>
                    </div>
                </div>
